.navbar .navbar-nav .nav-link:hover {
    color: rgb(0, 217, 255);
  }

#numbers{
  color: aqua;
}

.row .col-8 .paragraph p a{
  text-decoration: none;
}
*{
font-family: Arial, Helvetica, sans-serif;

}
body{
  background-color: rgb(246, 251, 255);
}
.row #side-panel{
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px;
}

#second-card{
  border: 1px solid grey;
  margin: 5px;
  background-color: white;
}

#looking{
  background-color: white;
}